
@font-face {
    font-family: comfort;
    src: url(../assets/Comfortaa-Regular.ttf);
}

.navRow {
    background-color: #561c24;
    padding: 30px 0px;
    font-size: 80px;
    font-family: comfort;
}

.light {
    color: #E8D8C4;
}

.h100 {
    min-height: 100vh;
}

.optionsCol {
    background-color: #6D2932;
}

.displayCol {
    background-color: #C7B7A3;
}

.names {
    color: #E8D8C4;
    border: none;
    font-size: 28px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    margin: 20px;
    font-family: comfort;
}

.names:hover {
    cursor: default;
}

.pointer:hover {
    cursor:pointer;
}

.randName {
    font-style: italic;
}

.margin {
   margin-top: 35px;
   margin-bottom: 35px;
   font-family: comfort;
}

.groups {
    font-style: italic;
}

.label {
    color: #C7B7A3;
    font-size: 28px;
    padding-bottom: 8px;
}